[Desktop Entry]
Exec=kcmshell5 oceandecorationconfig
Icon=preferences-system-windows
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=org.kde.kdecoration2/oceandecoration
X-KDE-PluginKeyword=kcmodule
X-KDE-ParentApp=kcontrol
X-KDE-Weight=60

Name=Ocean Window Decoration
Name[ca]=Decoració de les finestres Brisa
Name[ca@valencia]=Decoració de les finestres Brisa
Name[cs]=Dekorace oken Ocean
Name[da]=Ocean vinduesdekoration
Name[de]=Ocean-Fensterdekoration
Name[el]=Διακοσμήσεις παραθύρου Ocean
Name[en_GB]=Ocean Window Decoration
Name[es]=Decoración de ventanas Brisa
Name[et]=Ocean akna dekoratsioon
Name[eu]=Ocean leihoen apaindura
Name[fi]=Ocean-ikkunankehys
Name[fr]=Décoration de fenêtre Brise
Name[gl]=Decoración de xanela de Ocean
Name[hu]=Ocean ablakdekoráció
Name[ia]=Decoration de fenestra Ocean
Name[id]=Dekorasi Window Ocean
Name[it]=Decorazione delle finestre di Brezza
Name[ko]=Ocean 창 장식
Name[lt]=Ocean langų dekoracija
Name[nl]=Ocean vensterdecoratie
Name[nn]=Ocean-vindaugsdekorasjon
Name[pa]=ਬਰੀਜ਼ ਵਿੰਡੋ ਸਜਾਵਟ
Name[pl]=Wygląd okien Bryzy
Name[pt]=Decoração de Janelas Brisa
Name[pt_BR]=Decorações da janela Ocean
Name[ru]=Оформление окон Ocean
Name[sk]=Dekorácie okien Ocean
Name[sl]=Okraski oken Sapica
Name[sr]=Поветарчева декорација прозора
Name[sr@ijekavian]=Поветарчева декорација прозора
Name[sr@ijekavianlatin]=Povetarčeva dekoracija prozora
Name[sr@latin]=Povetarčeva dekoracija prozora
Name[sv]=Ocean fönsterdekoration
Name[tg]=Ороиши равзанаи Насим
Name[tr]=Ocean Pencere Dekorasyonu
Name[uk]=Декорації вікон Ocean
Name[x-test]=xxOcean Window Decorationxx
Name[zh_CN]=微风窗口装饰
Name[zh_TW]=Ocean 視窗裝飾
Comment=Modify the appearance of window decorations
Comment[ar]=عدّل مظهر زخرفات النّوافذ
Comment[ca]=Modifica l'aparença de les decoracions de les finestres
Comment[ca@valencia]=Modifica l'aparença de les decoracions de les finestres
Comment[cs]=Změnit vzhled dekorace oken
Comment[da]=Ændr vinduesdekorationers udseende
Comment[de]=Das Erscheinungsbild der Fensterdekorationen ändern
Comment[el]=Τροποποίηση εμφάνισης της διακόσμησης παραθύρου
Comment[en_GB]=Modify the appearance of window decorations
Comment[es]=Modificar el aspecto de las decoraciones de las ventanas
Comment[et]=Akna dekoratsioonide välimuse muutmine
Comment[eu]=Aldatu leiho apainduren itxura
Comment[fi]=Muuta ikkunoiden kehysten ulkoasua
Comment[fr]=Modifier l'apparence des décorations des fenêtres
Comment[gl]=Modifica a aparencia da decoración da xanela
Comment[he]=התאם את מראה מסגרות החלונות
Comment[hu]=Az ablakdekorációk megjelenésének módosítása
Comment[ia]=Modifica le apparentia de decorationes de fenestra
Comment[id]=Memodifikasi penampilan dekorasi window
Comment[it]=Modifica l'aspetto delle decorazioni delle finestre
Comment[ko]=창 장식의 모습을 수정합니다
Comment[lt]=Keisti lango dekoracijų išvaizdą
Comment[nb]=Endre utseende for vindusdekorasjoner
Comment[nl]=Wijzig het uiterlijk van vensterdecoraties
Comment[nn]=Endra utsjånad på vindaugspynt
Comment[pa]=ਵਿੰਡੋ ਸਜਾਵਟ ਦੀ ਦਿੱਖ ਨੂੰ ਸੋਧੋ
Comment[pl]=Zmień wygląd i wystrój okien
Comment[pt]=Modificar a aparência das decorações das janelas
Comment[pt_BR]=Modifica a aparência das decorações da janela
Comment[ro]=Modifică aspectul decorațiilor pentru ferestre
Comment[ru]=Настройка заголовков окон в стиле Ocean
Comment[sk]=Zmena vzhľadu dekorácie okien
Comment[sl]=Spremenite videz okraskov oken
Comment[sr]=Измените изглед декорација прозора
Comment[sr@ijekavian]=Измијените изглед декорација прозора
Comment[sr@ijekavianlatin]=Izmijenite izgled dekoracija prozora
Comment[sr@latin]=Izmenite izgled dekoracija prozora
Comment[sv]=Ändra utseendet hos fönsterdekorationer
Comment[tg]=Тағйир додани ороиши намуди зоҳирии равзанаҳо
Comment[tr]=Pencere dekorasyonlarının görünümünü değiştir
Comment[uk]=Зміна вигляду декорацій вікон
Comment[x-test]=xxModify the appearance of window decorationsxx
Comment[zh_CN]=修改窗口装饰外观
Comment[zh_TW]=變更視窗裝飾外觀
X-KDE-Keywords=ocean,decoration
X-KDE-Keywords[ar]=نسيم,زخرفة
X-KDE-Keywords[ca]=ocean,brisa,decoració
X-KDE-Keywords[ca@valencia]=ocean,brisa,decoració
X-KDE-Keywords[cs]=ocean,dekorace
X-KDE-Keywords[da]=ocean,dekoration
X-KDE-Keywords[de]=Ocean-Dekoration
X-KDE-Keywords[el]=ocean,διακόσμηση
X-KDE-Keywords[en_GB]=ocean,decoration
X-KDE-Keywords[es]=ocean,brisa,decoración
X-KDE-Keywords[et]=ocean,dekoratsioon
X-KDE-Keywords[eu]=ocean,apainketa,apaindura
X-KDE-Keywords[fi]=ocean,decoration,kehys,koriste,koristus,ikkunakehys
X-KDE-Keywords[fr]=brise,décoration
X-KDE-Keywords[gl]=ocean,decoración
X-KDE-Keywords[he]=ocean,decoration,מסגרת
X-KDE-Keywords[hu]=ocean,dekoráció
X-KDE-Keywords[ia]=ocean,decoration
X-KDE-Keywords[id]=ocean,dekorasi
X-KDE-Keywords[it]=brezza,decorazione
X-KDE-Keywords[ko]=ocean,decoration,장식
X-KDE-Keywords[lt]=ocean,dekoracija
X-KDE-Keywords[nb]=beeze,dekorasjon
X-KDE-Keywords[nl]=ocean,decoratie
X-KDE-Keywords[nn]=ocean,dekorasjonar,pynt
X-KDE-Keywords[pa]=ਬਰੀਜ਼,ਸਜਾਵਟ
X-KDE-Keywords[pl]=ocean,dekoracja,bryza,wystrój
X-KDE-Keywords[pt]=brisa,decoração
X-KDE-Keywords[pt_BR]=ocean,decoração
X-KDE-Keywords[ro]=briză,ocean,decorare,decorație
X-KDE-Keywords[ru]=ocean,бриз,decoration,декорации окон,оформление окон
X-KDE-Keywords[sk]=vánok,dekorácia
X-KDE-Keywords[sl]=sapica,okraski
X-KDE-Keywords[sr]=ocean,decoration,Поветарац,декорација
X-KDE-Keywords[sr@ijekavian]=ocean,decoration,Поветарац,декорација
X-KDE-Keywords[sr@ijekavianlatin]=ocean,decoration,Povetarac,dekoracija
X-KDE-Keywords[sr@latin]=ocean,decoration,Povetarac,dekoracija
X-KDE-Keywords[sv]=ocean,dekoration
X-KDE-Keywords[tg]=насим,ороиш
X-KDE-Keywords[tr]=esinti,dekorasyon
X-KDE-Keywords[uk]=ocean,decoration,бриз,декорації,декорація,обрамлення
X-KDE-Keywords[x-test]=xxoceanxx,xxdecorationxx
X-KDE-Keywords[zh_CN]=微风,装饰,修饰
X-KDE-Keywords[zh_TW]=ocean,decoration
